
<!-- OLD DROPDOWN -->
<!-- <div id="donorSelect" class="input-field col s12 indigo darken-1">
  <select id="dropdown1" class="dropdown-content" (change)="onChange($event)">
    <option value="" disabled selected>Choose your option</option>
    <option *ngFor="let donor of donors" [value]="donor.id" class="indigo darken-1">
      {{ donor.name }}
    </option>
  </select>
  <label id="donorSelectLabel" for="donorInnerSelect">Select Donor</label>
</div> -->

<!-- NEW DROPDOWN -->
<ul id="dropdown1" class="dropdown-content">
  <li *ngFor="let donor of donors" attr.data-val="{{ donor.id }}">
    <a (click)="this.onDonorSelect(donor)">{{ donor.name }}</a>
  </li>
</ul>

<nav>
  <div class="nav-wrapper">
    <a (click)="this.mapClicked()" class="brand-logo" style="line-height: 59px;"><img src="../../../../assets/icons/icon-128x128.png" height="50px" width="50px" style="margin: auto; vertical-align: middle; display: inline-block; margin-left: 7px;"></a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="center hide-on-med-and-down" style="padding-left: 57px;">
      <li><a  (click)="this.mapClicked();">Map</a></li>
      <li><a [routerLink]="['/donee-donations']">All Donations</a></li>
      <!-- NEW MY LOCATION BTN -->
      <li style="height: 64px; margin-left: 15px;"><a class="navLocationBtn waves-effect waves-light btn" (click)="centerMapOnMyLocation()">
        <div style="margin-right: 5px;" class="material-icons">my_location</div>
        My Location
      </a></li>
      <!-- OLD MY LOCATION BTN -->
      <!-- <button (click)="centerMapOnMyLocation()" class="myLocationBtn btn indigo darken-1">
        <div style="margin-right: 5px;" class="material-icons">my_location</div>
        <span>My Location</span>
      </button> -->
    </ul>
    <ul class="right hide-on-med-and-down">
      <li><a id="selectDonorText" class="dropdown-trigger" href="#!" data-target="dropdown1">Select a donor<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a (click)="this.mapClicked();">Map</a></li>
  <li><a [routerLink]="['/donee-donations']">All Donations</a></li>
</ul>
