* {
  --primary: #6369D1; /* Violet Blue Crayola */
}

nav, .nav-wrapper {
  background-color: #7986cb;
}

.brand-logo {
  cursor: pointer;
}

.btn {
  height: 36px;
}

li {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navLocationBtn {
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  /* margin-top: 10px !important; */
  margin: auto;
}

.dropdown-content li>a, .dropdown-content li>span {
  color: var(--primary);
}

nav ul a:hover {
  background-color: transparent;
}

.sidenav li > a {
  color: var(--primary)
}

.material-symbols-outlined {
  /* height: 48px; */

  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

#rightNavList li {
  height: 56px;
}

#selectDonorText {
  display: none;
}

/* Bigger screens */
@media only screen and (min-width: 769px) {
  #rightNavList li {
    height: 64px;
  }

  #selectDonorText {
    display: inline-block;
  }
}
