#doneeContainer {
  width: calc(100% - 30px);
}

app-receiver-map {
  display: block;
  height: calc(100% - 64px);
  overflow-y: hidden;
}

body {
  height: calc(100% - 64px) !important;
}

/* Bigger screens */
@media only screen and (min-width: 993px) {
  #doneeContainer {
    width: calc(100% - 330px);
  }

  .nonMapContainer {
    width: 100% !important;
  }
}
