app-receiver-map {
  display: block;
  height: calc(100% - 56px);
  overflow-y: hidden;
}

body {
  height: calc(100% - 64px) !important;
}

/* Bigger screens */
@media only screen and (min-width: 993px) {
  app-receiver-map {
    height: calc(100% - 64px);
  }

  .nonMapContainer {
    width: 100% !important;
  }
}
