* {
  --primary: #6369D1; /* Violet Blue Crayola */
  --secondary: #C6C6C6; /* Silver */

  --warning: #FDB849; /* Maximum Yellow Red */
  --danger: #F21B3F; /* Red Munsell */
  --success: #60B67A; /* Medium Sea Green */

  --dark: #36363E; /* Jet */
  --light: #FBF5F3; /* Snow */

  --deep-purple-accent-2: #7c4dff;
  --indigo-lighten-2: #7986cb;
  --indigo-lighten-4: #c5cae9;
  --indigo-lighten-5: #e8eaf6;

  --upcoming: #f5f29f;
  --current: #8eeba3;
}

tr {
  border-bottom: none;
}

th {
  font-weight: normal;
}

.upcoming {
  background-color: var(--upcoming);
}

.current {
  background-color: var(--current);
}

.carousel-item {
  background-color: transparent;
  padding: 10px;
  width: 90%;
}

.chip {
  text-overflow: ellipsis;
  word-break: break-all;
  overflow: hidden;
}

.card, .carousel-item {
  margin: 0px !important;
}

/* Bigger screens */
@media only screen and (min-width: 993px) {
  .carousel-item {
    width: 400px !important;
  }
}
