<!-- Sidenav -->
<ul id="slide-out" class="sidenav">
  <div id="navBtnWrapper">
    <li><a class="waves-effect" href="/donor-dashboard">Donate</a></li>
    <li><a class="waves-effect" href="/donor-dashboard">Alerts</a></li>
    <li><a class="waves-effect" href="/donor-dashboard">Map</a></li>
    <li><a class="waves-effect" href="/donor-dashboard">Dashboard</a></li>
  </div>

  <div id="logoutWrapper">
    <span class="material-symbols-outlined" style="float: left;">
      logout
    </span>
    <span class="material-symbols-outlined" style="float: right;">
      settings
    </span>
  </div>
</ul>

<!-- Dashboard -->
<div class="container">
  <div class="row">
    <div class="col s6">
      Text cpmemt
    </div>
    <div class="col s6">
      More text content
    </div>
  </div>
</div>
