<!-- Dashboard -->
<div class="row top-nav">
  <h3>Dashboard</h3>
</div>
<div class="row" >
  <div class="col s12 m12 l12" id="boundingContainer">
    <h4 class="subtitle">My Current and Upcoming Donations</h4>
    <ul class="collection">
      <li style="text-align: center;" class="collection-item noCurrent">
        <span class="button_text"></span>
        <span *ngIf="currentAndUpcomingDonations.length === 0" class="noCurrentTxt">No current or upcoming donations.</span>
      </li>
    </ul>
    <ul id="currentCollapsible" class="collapsible expandable">
      <li *ngFor="let donation of this.currentAndUpcomingDonations;" style="flex-direction: column;">
        <div class="collapsible-header">
          <table>
            <tbody>
              <td style="width: 5%;">
                <!-- icon -->
                <i class="material-icons">volunteer_activism</i>
              </td>
              <td style="width: 20%;">
                <!-- Current or Pending chip -->
                <div *ngIf="this.donationService.isCurrentDonationByDonation(donation)" class="chip current truncate">
                  Current
                </div>
                <div *ngIf="!this.donationService.isCurrentDonationByDonation(donation)" class="chip upcoming truncate">
                  Upcoming
                </div>
                <!-- Reserved chip -->
                <div *ngIf="donation.reserved" class="chip red accent-1 truncate">
                  Reserved
                </div>
              </td>
              <td style="width: 30%;">
                <!-- Donation date -->
                {{ this.dateUtil.numericToTextDate(this.dateUtil.epochDateToReadable(donation?.donationdate!)) }}
              </td>
              <td style="width: 30%;">
                <!-- Start and End times -->
                <small class="infoTxt" style="margin-left: 10px;">{{ donation?.starttime!.substring(0, 5) }} - {{ donation?.endtime!.substring(0, 5) }}</small>
              </td>
              <td>
                <!-- Dropdown trigger -->
                <div class="material-icons dropdown-trigger" [attr.data-target]="'dropdown-' + donation.id" (click)="$event.stopPropagation()">more_vert</div>
              </td>
            </tbody>
          </table>

          <!-- Dropdown Structure -->
          <ul [id]="'dropdown-' + donation.id" class='dropdown-content'>
            <li *ngIf="donation.reserved" (click)="this.markAsReserved(donation, $event)">
              <i class="material-symbols-outlined">free_cancellation</i>
              Unreserve
            </li>
            <li *ngIf="!donation.reserved" data-target="reserveModal" class="modal-trigger" (click)="this.markAsReservedClicked(donation, $event)">
              <i class="material-symbols-outlined">event_busy</i>
              Mark as Reserved
            </li>
            <li (click)="this.deleteDonation(donation?.id!, $event)">
              <i class="material-symbols-outlined">delete</i>
              Delete donation
            </li>
          </ul>
        </div>
        <div class="collapsible-body">
          <!-- Chips and Description -->
          <app-collapsible-item-body [donation]="donation"></app-collapsible-item-body>
        </div>
      </li>
    </ul>
  </div>
  <div class="col s12 m12 l12">
    <h4 class="subtitle">My Past Donations</h4>
    <ul class="collection">
      <li style="text-align: center;" class="collection-item noPast">
        <span class="button_text"></span>
        <span *ngIf="pastDonations.length === 0" class="noCurrentTxt">No past donations.</span>
      </li>
    </ul>
    <ul id="pastCollapsible" class="collapsible expandable">
      <li *ngFor="let donation of this.pastDonations;" style="flex-direction: column;">
        <div class="collapsible-header">
          <table>
            <tbody>
              <td style="width: 5%;">
                <!-- icon -->
                <i class="material-icons">volunteer_activism</i>
              </td>
              <td style="width: 20%;"></td>
              <td style="width: 30%;">
                <!-- Donation date -->
                {{ this.dateUtil.numericToTextDate(this.dateUtil.epochDateToReadable(donation?.donationdate!)) }}
              </td>
              <td style="width: 30%;">
                <!-- Start and End times -->
                <small class="infoTxt" style="margin-left: 10px;">{{ donation?.starttime!.substring(0, 5) }} - {{ donation?.endtime!.substring(0, 5) }}</small>
              </td>
              <td>
                <!-- Dropdown trigger -->
                <div class="material-icons dropdown-trigger" [attr.data-target]="'dropdown-' + donation.id" (click)="$event.stopPropagation()">more_vert</div>
              </td>
            </tbody>
          </table>

          <!-- Dropdown Structure -->
          <ul [id]="'dropdown-' + donation.id" class='dropdown-content'>
            <li (click)="this.deleteDonation(donation?.id!, $event)">
              <i class="material-symbols-outlined">delete</i>
              Delete donation
            </li>
          </ul>
        </div>
        <div class="collapsible-body indigo lighten-5">
          <!-- Chips and Description -->
          <app-collapsible-item-body [donation]="donation"></app-collapsible-item-body>
        </div>
      </li>
    </ul>
  </div>
</div>

<!-- Mark as reserved Modal Structure -->
<div id="reserveModal" class="modal">
  <div class="modal-content">
    <h4>Reserve Donation</h4>
    <label>Enter the phone number for each recipient:</label>
    <input
    [value]="this.currentRecipient"
    (input)="this.currentRecipient = this.getRecipient($event)"
    prefix="(+27)"
    mask=' 00 000 0000'
    class="input">
    <button class="btn-flat" (click)="this.addRecipientToReserved(this.currentRecipient)">Add Recipient</button>
    <p *ngIf="this.chips.length > 0">Recipients:</p>
    <app-chip-selector [chips]="this.chips"></app-chip-selector>

    <!-- TODO add chips for each donee who this donation is reserved for -->
  </div>
  <div class="modal-footer" style="height: 68px;">
    <button
    [disabled]="!(this.reservedRecipients.length > 0)"
    class="modal-close waves-effect waves-green btn"
    (click)="this.markAsReserved(this.selectedDonation!, $event)"
  >Mark as Reserved</button>
  </div>
</div>
