* {
  --primary: #6369D1; /* Violet Blue Crayola */
  --secondary: #C6C6C6; /* Silver */

  --warning: #FDB849; /* Maximum Yellow Red */
  --danger: #F21B3F; /* Red Munsell */
  --success: #60B67A; /* Medium Sea Green */

  --dark: #36363E; /* Jet */
  --light: #FBF5F3; /* Snow */
}

a {
  text-align: center;
}

li:hover > a {
  color: var(--secondary);
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subtitle {
  opacity: 0.8;
}

.collection {
  width: 100%;
}

.top-nav {
  margin-top: 40px;

  border-bottom: 1px solid rgba(0,0,0,0.14);
}

.top-nav > h3 {
  text-align: center;
}
