<div class="row top-nav">
  <h3>Settings</h3>
</div>
<h4>Personal Information</h4>

<form [formGroup]="editDetailsForm">
  Name of Donor
  <span class="inlineEditControls">
    <input formControlName="nameField" [value]="this.currentUser?.name" [readOnly]="!this.nameCheck">
    <button class="btn-flat waves-effect" (click)="this.toggleChangeName(this.editDetailsForm.controls.nameField.getRawValue())">
      <i *ngIf="!this.nameCheck" class="material-symbols-outlined">edit</i>
      <i *ngIf="this.nameCheck" class="material-symbols-outlined check">check</i>
    </button>
  </span>

  Phone Number
  <span class="inlineEditControls">
    <input formControlName="phoneNumField" prefix="(+27)" mask=' 00 000 0000' [value]="this.phoneNumUtil.format(this.currentUser?.phone_num!)" [readOnly]="!this.phoneNumCheck">
    <button class="btn-flat waves-effect" (click)="this.toggleChangePhoneNum(this.editDetailsForm.controls.phoneNumField.getRawValue())">
      <i *ngIf="!this.phoneNumCheck" class="material-symbols-outlined">edit</i>
      <i *ngIf="this.phoneNumCheck" class="material-symbols-outlined check">check</i>
    </button>
  </span>
</form>

<h4>Donor Location</h4>
<google-map width="100%"></google-map>
<button id="editLocationBtn" class="btn"><i class="material-symbols-outlined">edit</i>Edit Location</button>

