<div class="row top-nav">
  <h3>Settings</h3>
</div>
<h4>Personal Information</h4>

<form [formGroup]="editDetailsForm">
  Name of Donor
  <span class="inlineEditControls">
    <input formControlName="nameField" [value]="this.currentUser?.name" [readOnly]="!this.nameCheck">
    <button class="btn-flat waves-effect" (click)="this.toggleChangeName(this.editDetailsForm.controls.nameField.getRawValue())">
      <i *ngIf="!this.nameCheck" class="material-symbols-outlined">edit</i>
      <i *ngIf="this.nameCheck" class="material-symbols-outlined check">check</i>
    </button>
  </span>

  Phone Number
  <span class="inlineEditControls">
    <input formControlName="phoneNumField" prefix="(+27)" mask=' 00 000 0000' [value]="this.phoneNumUtil.format(this.currentUser?.phone_num!)" [readOnly]="!this.phoneNumCheck">
    <button class="btn-flat waves-effect" (click)="this.toggleChangePhoneNum(this.editDetailsForm.controls.phoneNumField.getRawValue())">
      <i *ngIf="!this.phoneNumCheck" class="material-symbols-outlined">edit</i>
      <i *ngIf="this.phoneNumCheck" class="material-symbols-outlined check">check</i>
    </button>
  </span>
</form>

<h4>Donor Location</h4>
<google-map width="100%" height="300px" [options]="mapOptions">
  <map-marker
    *ngFor="let marker of this.markers"
    [position]="marker.position"
    [label]="marker.label!"
    [title]="marker.title!"
    [options]="marker.options!"
  ></map-marker>
</google-map>
<button (click)="this.editLocation()" id="editLocationBtn" class="btn"><i class="material-symbols-outlined">edit</i>Click to   </button>
<button (click)="this.cancelLocationEdit()" id="cancelLocationBtn" class="btn red lighten-2"><i class="material-symbols-outlined">close</i>Cancel</button>
<button (click)="this.saveLocationEdit()" id="saveLocationBtn" class="btn green lighten-2"><i class="material-symbols-outlined">check</i>Save Changes</button>

<input id="placesField" type="text" placeholder="Enter your address" >
<div id="infowindow-content">
  <span id="placeName" class="title"></span><br />
  <span id="placeAddress"></span>
</div>
