<div class="row top-nav">
  <h3>Donations</h3>
</div>

<div class="container">
  <div id="donationContainer" class="row">
    <app-card class="col s12 m6 l6 " *ngFor="let donation of this.currentDonorDonations"
      [date]="this.dateUtil.numericToTextDate(this.dateUtil.epochDateToReadable(donation.donationdate))"
      [startTime]="donation.starttime"
      [endTime]="donation.endtime"
      [description]="donation.description"
      [isCurrent]="this.donationService.isCurrentDonationByDonation(donation)"
    ></app-card>
  </div>
</div>
