app-donar-settings, app-donar-donate {
  width: 100%;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.md-18 { font-size: 18px !important; }
.md-24 { font-size: 24px !important; }
.md-36 { font-size: 36px !important; }
.md-48 { font-size: 48px !important; }

.pushSidenav {
  display: block;
  margin-left: 15px;
  margin-right: 15px;
}

/* Bigger screens */
@media only screen and (min-width: 993px) {
  .pushSidenav {
    position: absolute !important;
    left: 300px !important;
  }

  #donorContainer {
    width: calc(100% - 330px);
  }

  .nonMapContainer {
    width: 100% !important;
  }
}
