* {
  --primary: #6369D1; /* Violet Blue Crayola */
  --secondary: #C6C6C6; /* Silver */

  --warning: #FDB849; /* Maximum Yellow Red */
  --danger: #F21B3F; /* Red Munsell */
  --success: #60B67A; /* Medium Sea Green */

  --dark: #36363E; /* Jet */
  --darkRGB: 21, 21, 24;
  --light: #FBF5F3; /* Snow */
}

#slide-out-donee {
  display: inline-block;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--primary);
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

#logoutWrapper {
  position: absolute;

  /* bottom: 15px; */
  bottom: 10%;
  left: 15px;
  width: 270px;
  height: 50px;
  padding: 15px;
}

.material-symbols-outlined {
  user-select: none;
  transition: all 150ms;
}

.navContainer {
  display: inline-block;
  width: fit-content;
  margin: 0;
  padding: 0;
}

#burgerMenu {
  display: block;
  width: fit-content;
  position: absolute;
  top: 40px;
  left: 25px;
  /* z-index: 999999; */
}

/* Bigger screens */
@media only screen and (min-width: 993px) {
  #donorContainer {
    position: absolute;
    left: 300px;
    padding-left: 80px;
    width: 70%;
  }
}
