* {
  --primary: #6369D1; /* Violet Blue Crayola */
  --secondary: #C6C6C6; /* Silver */

  --warning: #FDB849; /* Maximum Yellow Red */
  --danger: #F21B3F; /* Red Munsell */
  --success: #60B67A; /* Medium Sea Green */

  --dark: #36363E; /* Jet */
  --darkRGB: 21, 21, 24;
  --light: #FBF5F3; /* Snow */
}

#slide-out-donee {
  background-color: var(--primary);
}

#slide-out-donor {
  background-color: var(--primary);
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.pushSidenav {
  display: block;
  margin-left: 15px;
  margin-right: 15px;
}

#logoutWrapper {
  position: absolute;

  /* bottom: 15px; */
  bottom: 10%;
  left: 15px;
  width: 270px;
  height: 50px;
  padding: 15px;
}

.material-symbols-outlined {
  user-select: none;
  transition: all 150ms;
}

.sidenav > div > .material-symbols-outlined:hover {
  color: var(--secondary);
  cursor: pointer;
}

.navContainer {
  display: inline-block;
  width: fit-content;
  margin: 0;
  padding: 0;
}

#burgerMenu {
  display: block;
  width: fit-content;
  position: fixed;
  top: 40px;
  left: 25px;
  z-index: 99;
}

.nonMapContainer {
  width: 100% !important;
}

#donorContainer {
  width: calc(100% - 30px);
}

/* Bigger screens */
@media only screen and (min-width: 993px) {
  #donorContainer {
    position: absolute;
    left: 300px;
    /* padding-left: 80px;
    width: 70%; */
  }

  .pushSidenav {
    position: absolute !important;
    left: 300px !important;
  }

  #doneeContainer {
    width: calc(100% - 330px);
  }

  .nonMapContainer {
    width: 100% !important;
  }
}
