* {
  --primary: #6369D1; /* Violet Blue Crayola */
  --secondary: #C6C6C6; /* Silver */

  --warning: #FDB849; /* Maximum Yellow Red */
  --danger: #F21B3F; /* Red Munsell */
  --success: #60B67A; /* Medium Sea Green */

  --dark: #36363E; /* Jet */
  --darkRGB: 21, 21, 24;
  --light: #FBF5F3; /* Snow */
}

#slide-out-donee {
  background-color: var(--primary);
}

#slide-out-donor {
  background-color: var(--primary);
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.pushSidenav {
  display: block;
  margin-left: 15px;
  margin-right: 15px;
}

#logoutWrapper {
  position: absolute;

  /* bottom: 15px; */
  bottom: 10%;
  left: 15px;
  width: 270px;
  height: 50px;
  padding: 15px;
}

.material-symbols-outlined {
  user-select: none;
  transition: all 100ms;
  color: rgba(238, 238, 238, 0.8);
  text-shadow: black 0px 0px 3px;
}

.sidenav li {
  line-height: 84px;
}

.sidenav li > a {
  height: 84px;
  line-height: 84px;
  font-size: x-large;
  color: rgba(238, 238, 238, 0.8);
  text-shadow: black 0px 0px 3px;
  /* text-shadow: rgb(0, 0, 0) 1px 0px 0px, rgb(0, 0, 0) 2.83487px 0.981584px 0px, rgb(0, 0, 0) 2.35766px 1.85511px 0px, rgb(0, 0, 0) 1.62091px 2.52441px 0px, rgb(0, 0, 0) 0.705713px 2.91581px 0px, rgb(0, 0, 0) -0.287171px 2.98622px 0px, rgb(0, 0, 0) -1.24844px 2.72789px 0px, rgb(0, 0, 0) -2.07227px 2.16926px 0px, rgb(0, 0, 0) -2.66798px 1.37182px 0px, rgb(0, 0, 0) -2.96998px 0.42336px 0px, rgb(0, 0, 0) -2.94502px -0.571704px 0px, rgb(0, 0, 0) -2.59586px -1.50383px 0px, rgb(0, 0, 0) -1.96093px -2.27041px 0px, rgb(0, 0, 0) -1.11013px -2.78704px 0px, rgb(0, 0, 0) -0.137119px -2.99686px 0px, rgb(0, 0, 0) 0.850987px -2.87677px 0px, rgb(0, 0, 0) 1.74541px -2.43999px 0px, rgb(0, 0, 0) 2.44769px -1.73459px 0px, rgb(0, 0, 0) 2.88051px -0.838247px 0px; */
  /* text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000; */
}

.sidenav li > a:hover {
  color: rgba(30, 30, 30, 0.8);
  text-shadow: none;
}

.sidenav > div > .material-symbols-outlined:hover {
  color: var(--secondary);
  cursor: pointer;
}

.navContainer {
  display: inline-block;
  width: fit-content;
  margin: 0;
  padding: 0;
}

#burgerMenu {
  display: block;
  width: fit-content;
  position: fixed;
  top: 40px;
  left: 25px;
  z-index: 99;
}

.nonMapContainer {
  width: 100% !important;
}

#donorContainer {
  width: calc(100% - 30px);
}

/* Bigger screens */
@media only screen and (min-width: 993px) {
  #donorContainer {
    position: absolute;
    left: 300px;
    /* padding-left: 80px;
    width: 70%; */
  }

  .pushSidenav {
    position: absolute !important;
    left: 300px !important;
  }

  #doneeContainer {
    width: calc(100% - 330px);
  }

  .nonMapContainer {
    width: 100% !important;
  }
}
