* {
  --primary: #6369D1; /* Violet Blue Crayola */
  --secondary: #C6C6C6; /* Silver */

  --warning: #FDB849; /* Maximum Yellow Red */
  --danger: #F21B3F; /* Red Munsell */
  --success: #60B67A; /* Medium Sea Green */

  --dark: #36363E; /* Jet */
  --darkRGB: 21, 21, 24;
  --light: #FBF5F3; /* Snow */
}

/* Mobile First */
.tabs {
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
}

.btn {
  position: relative;
  margin-top: 15px;
  width: 100%;
  height: 50px;
}

small {
  display: block;
  padding-top: 7px;
  padding-bottom: 7px;
  color: var(--danger);
}

#donationLabel {
  display: block;
  margin-top: 10px;
}

.successfulCapture {
  background-color: var(--success);
}

.formWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 15%;
  height: 100%;
  /* width: 100%; */
}

.formWrapper > .card {
  display: fixed;
  width: 90%;
  height: 20rem;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 25%;
}

.card-content {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.card {
  box-shadow: none;
}

#locationIcon {
  height: 100%;
}

#locationBtn:focus {
  background-color: var(--success);
}

/* TODO implement media queries for larger screens */
@media screen and (min-width: 768px) {

  .formWrapper {
    display: block;
    padding: 8%;
  }

  .formWrapper > .card {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }


}
