<div class="formWrapper">
  <div class="card grey lighten-4">
    <div class="card-tabs">
      <ul class="tabs tabs-fixed-width">
        <li class="tab"><a class="active" href="/login#login">Login</a></li>
        <li class="tab"><a href="/login#register">Register</a></li>
      </ul>
    </div>
    <div class="card-content grey lighten-4">
      <div id="login">
        <form [formGroup]="loginForm" (ngSubmit)="this.login()">
          <label for="phone_num">Phone Number</label>
          <input formControlName="phone_num" class="input" placeholder="phone number">
          <small *ngIf="invalidLoginForm && loginForm.controls['phone_num'].errors">Please enter a valid phone number</small>
          <label>Password</label>
          <input formControlName="password" class="input" placeholder="password" >
          <small *ngIf="invalidLoginForm && loginForm.controls['password'].errors">Please enter a valid password</small>
          <button class="btn">Login</button>
        </form>
      </div>
      <div id="register">
        <form [formGroup]="registerForm" (ngSubmit)="this.register()">
          <label for="name">Name</label>
          <input formControlName="name" class="input" placeholder="Joe's Restaurant">
          <small *ngIf="invalidRegisterForm && registerForm.controls['name'].errors">Please enter a name</small>
          <label for="phone_num">Phone Number</label>
          <input formControlName="phone_num" class="input" placeholder="phone number">
          <small *ngIf="invalidRegisterForm && registerForm.controls['phone_num'].errors">Please enter a valid phone number</small>
          <label>Password</label>
          <input formControlName="password" class="input">
          <small *ngIf="invalidRegisterForm && registerForm.controls['password'].errors">Please enter a valid password</small>
          <label>Confirm Password</label>
          <input formControlName="confirmPassword" class="input">
          <small *ngIf="invalidRegisterForm && registerForm.controls['confirmPassword'].errors?.['required']">Please confirm your password</small>
          <small
            *ngIf="invalidRegisterForm &&
            !registerForm.controls['confirmPassword'].errors?.['required'] &&
            registerForm.controls['confirmPassword'].errors?.['match_error']">
            Confirmed password does not match password
          </small>
          <p>
            <label>
              <input type="radio" id="donorCheckbox" formControlName="type" value="donor" class="with-gap">
              <span>Donor</span>
            </label>
          </p>
          <p>
            <label>
              <input type="radio" id="doneeCheckbox" formControlName="type" value="donee" class="with-gap">
              <span>Donee</span>
            </label>
          </p>
          <small *ngIf="invalidRegisterForm && registerForm.controls['type'].errors">Please select whether you are a Donor or Donee (Receiver)</small>
          <div *ngIf="this.isDonor">
            <label id="donationLabel">Use the button below to register your donation location</label>
            <button id="locationBtn" class="btn" (click)="this.captureLocation()"><span id="locationIcon" class="material-symbols-outlined">my_location</span>Register with My Location</button>
            <small *ngIf="invalidRegisterForm && this.location === null">Please capture your donation location</small>
          </div>
          <button class="btn">Register</button>
        </form>
      </div>
    </div>
  </div>
</div>
