* {
  --primary: #6369D1; /* Violet Blue Crayola */
  --secondary: #C6C6C6; /* Silver */

  --warning: #FDB849; /* Maximum Yellow Red */
  --danger: #F21B3F; /* Red Munsell */
  --success: #60B67A; /* Medium Sea Green */

  --dark: #36363E; /* Jet */
  --darkRGB: 21, 21, 24;
  --light: #FBF5F3; /* Snow */
}

/* Mobile First */

.tabs {
  display: flex;
  flex-direction: row;
}

body {
	background: #d0d0d0;
	height: 100vh;
}

.btn {
  margin-top: 15px;
  width: 100%;
  height: 50px;
}

small {
  display: block;
  padding-top: 7px;
  padding-bottom: 7px;
  color: #F21B3F;
}

#donationLabel {
  display: block;
  margin-top: 10px;
}

.successfulCapture {
  background-color: var(--success);
}

/* TODO implement media queries for larger screens */
@media screen and (min-width: 348px) {
  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .wrapper > .card {
    display: block;
    width: 35rem;
    min-width: 300px;
    height: 20rem;
  }
}
