<div class="google-map">
  <google-map id="receiverMap" width="100%" height="100%"
  >
    <map-marker
      *ngFor="let marker of markers"
      [position]="marker.position"
      [label]="marker.label!"
      [title]="marker.title!"
      [options]="marker.options!"
      (mapClick)="this.openModal(marker.id!, marker.title!, marker.phoneNum!, marker.address!, marker.position!)"
    ></map-marker>
  </google-map>
</div>

<!-- FAB Key/Legend -->
<div *ngIf="!this.router.url.includes('/map?origin')" class="fabContainer">
  <a class="tooltipped" data-position="top"
    data-tooltip="Red pins are donors who do not have upcoming donations.">
    <img [src]="mapUtil.getRedMarker()" alt="Red location pin">
  </a>
  - No donations
  <a class="tooltipped" data-position="top"
    data-tooltip="Yellow pins are donors who have upcoming donations.">
    <img [src]="mapUtil.getYellowMarker()" alt="Yellow location pin">
  </a>
  - Upcoming donations
  <a class="tooltipped" data-position="top"
    data-tooltip="Green pins are donors who have current, active donations.">
    <img [src]="mapUtil.getGreenMarker()" alt="Green location pin">
  </a>
  - Active donations
</div>

<!-- Google Maps directions instructions list -->
<button *ngIf="this.router.url.includes('/map?origin') && this.displayShowMoreInstructionsBtn" id="showDirectionsBtn" class="btn" href="directionsList" (click)="this.showDirectionsList()">
  Show Directions
  <span id="upArrow" class="material-symbols-outlined">
    expand_less
  </span>
  <span id="downArrow" class="material-symbols-outlined">
    expand_more
    </span>
</button>
<div id="directionsList" class="panel panel-primary" style="display: none;">
  <span style="display: flex; width: 100%; justify-content: center; user-select: none; cursor: pointer;" (click)="this.closeDirectionsList()">
    Close Directions
    <span class="material-symbols-outlined">
      close
    </span>
  </span>
</div>


<!-- Feature Discovery -->
<!-- <div class="tap-target indigo darken-1" data-target="mapFab">
  <div class="tap-target-content">
    <h5>Map Key</h5>
    <p>Use the map key to find current and upcoming donations. As well as donors would don't currently have a donation.</p>
  </div>
</div> -->

<!-- Modal Structure -->
<div id="modal1" class="modal bottom-sheet">
  <div class="modal-content">

    <!-- Donor Address -->
    <span>
      <h4 id="modalHeading">
        {{ this.currentDonorName }}
        <!-- <a id="whatsappBtn" aria-label="Chat on WhatsApp"
          [attr.href]=" 'https://wa.me/' + this.phoneNumberUtil.toInternationalCode(this.currentDonorPhoneNum) + '?text=' + myEncodeURIComponent(this.prefilledText)"
          target="_blank">
          <button class="btn" style="min-width: 187px;">Chat on WhatsApp</button>
        </a> -->
      </h4>

      <span id="modalDonorAddressContainer">
        <span class="material-symbols-outlined" style="color: black;">
          home_pin
        </span>
        <span class="tooltipped link" (click)="this.onMapsClicked()" data-position="bottom" data-tooltip="Need directions? Click this address to get directions">
          {{ this.currentDonorAddress }}
        </span>
      </span>
      <div id="modalDonarWhatsAppContainer">
        <img style="display: inline-block; width: 23px; height: 23px; margin-left: 5px; margin-top: 8px; margin-bottom: 8px; margin-right: 12px;" src="../../../assets/images/WhatsApp-bw-small.svg">
        <a id="whatsappBtn" aria-label="Chat on WhatsApp"
        [attr.href]=" 'https://wa.me/' + this.phoneNumberUtil.toInternationalCode(this.currentDonorPhoneNum) + '?text=' + myEncodeURIComponent(this.prefilledText)"
        target="_blank">
          <span class="link" style="display: inline-block; width: fit-content;">
            Chat on WhatsApp
          </span>
        </a>
      </div>
    </span>

    <div id="flexContainer">
      <!-- Donation Schedule -->
      <div *ngIf="this.currentDonorDonations === null || this.currentDonorDonations?.length === 0; else loadCarousel" style="margin-top: 16px;">
        <img src="../../../assets/images/no_items_mobile.png" width="200px" height="150px" >
        <div class="attribution">Illustration by
          <a href="https://icons8.com/illustrations/author/627444">Julia G</a>
          from
          <a href="https://icons8.com/illustrations">Ouch!</a>
        </div>
        <div>No upcoming donations.</div>
      </div>

      <!-- Carousel within Modal -->
      <ng-template #loadCarousel>
        <div class="carousel carousel-slider">
          <div (click)="this.carouselPrev($event)" class="carousel-left-chevron">
            <i class="material-symbols-outlined">chevron_left</i>
          </div>
          <div (click)="this.carouselNext($event)" class="carousel-right-chevron">
            <i class="material-symbols-outlined">chevron_right</i>
          </div>
          <app-card *ngFor="let donation of this.currentDonorDonations"
          [forCarousel]="true"
          [donorId]="donation.userid"
          [donation]="donation"
          [isCurrent]="this.donationService.isCurrentDonationByDonation(donation)"
          ></app-card>
        </div>
      </ng-template>


    </div>
  </div>
</div>
