<div class="google-map">
  <google-map width="100%" height="100vh"
  [options]="mapOptions"
  >
      <map-marker
        *ngFor="let marker of markers"
        [position]="marker.position"
        [label]="marker.label"
        [title]="marker.title"
        [options]="marker.options"
        (mapClick)="this.openModal(marker.id, marker.title, marker.phoneNum)"
      ></map-marker>
  </google-map>
</div>

<!-- Donor Select -->
<div id="donorSelect" class="input-field col s12">
  <select id="donorInnerSelect" (change)="onChange($event)">
    <option value="" disabled selected>Choose your option</option>
    <option *ngFor="let donor of donors" [value]="donor.id">
      {{ donor.name }}
    </option>
  </select>
  <label id="donorSelectLabel">Select Donor</label>
</div>

<!-- Saved Pins Switch -->
<div class="switch pins-switch">
  <span class="material-symbols-outlined center booksmarksIcon">bookmarks</span>
  <span class="center">View Saved Pins</span>
  <label class="center">
    <input type="checkbox">
    <span class="lever"></span>
  </label>
</div>

<div id="hiddenMenu" (click)="this.openMenu()"></div>

<!-- Popout Sidenav -->
<ul id="slide-out" class="sidenav">
  <li>
    <div class="user-view">
      <h3>Settings</h3>
    </div>
  </li>
  <li>
    <div class="user-view">
      <h5>Push notifications</h5>
      <div class="switch">
        <label>
          Off
          <input type="checkbox">
          <span class="lever"></span>
          On
        </label>
      </div>
    </div>
  </li>
  <li>
    <div class="user-view">
      <h5>Personal Information</h5>
      Phone Number
      <input type="text" placeholder="0827263872" readonly>
      <button class="btn">Edit Phone Number</button>
    </div>
  </li>
  <li id="logout">
    <i (click)="this.logout()" class="material-symbols-outlined medium">logout</i>
  </li>
</ul>

<!-- Modal Trigger -->
<!-- <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a> -->

<!-- Modal Structure -->
<div id="modal1" class="modal bottom-sheet">
  <div class="modal-content">
    <span>
      <h4 id="modalHeading">{{ this.currentDonorName }}</h4>
      <span id="savedPinsContainer">
        <i class="material-symbols-outlined center">bookmarks</i>
        Save Pin
      </span>
    </span>

    <div id="flexContainer">
      <div id="scheduleContainer">
        <table >
          <thead>
            <tr style="border: none;">
              <th scope="colgroup">Donation Schedule</th>
            </tr>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let donation of this.currentDonorDonations">
              <td>{{ this.dateUtil.epochDateToReadable(donation.donationdate) }}</td>
              <td>{{ donation.starttime }} - {{ donation.endtime }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Buttons -->
      <div id="actionButtonsContainer">
        <p>Need directions?</p>
        <button class="btn">Google Maps</button>
        <p>Arrived? Notify the Donor</p>
        <a aria-label="Chat on WhatsApp" [attr.href]=" 'https://wa.me/' + this.phoneNumberUtil.toInternationalCode(this.currentDonorPhoneNum)" target="_blank">
          <img alt="Chat on WhatsApp" src="../../../assets/images/WhatsAppButtonGreenLarge.svg"/>
        </a>
      </div>
    </div>

  </div>
</div>
