<div class="google-map">
  <google-map width="100%" height="100vh" [options]="mapOptions"
  >
    <map-marker
      *ngFor="let marker of markers"
      [position]="marker.position"
      [label]="marker.label!"
      [title]="marker.title!"
      [options]="marker.options!"
      (mapClick)="this.openModal(marker.id!, marker.title!, marker.phoneNum!)"
    ></map-marker>
  </google-map>
</div>

<!-- Donor Select -->
<div id="donorSelect" class="input-field col s12">
  <select id="donorInnerSelect" (change)="onChange($event)">
    <option value="" disabled selected>Choose your option</option>
    <option *ngFor="let donor of donors" [value]="donor.id">
      {{ donor.name }}
    </option>
  </select>
  <label id="donorSelectLabel">Select Donor</label>
</div>

<!-- Saved Pins Switch -->
<div class="switch pins-switch">
  <span class="material-symbols-outlined center booksmarksIcon">bookmarks</span>
  <span class="center">View Saved Pins</span>
  <label class="center">
    <input type="checkbox">
    <span class="lever"></span>
  </label>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal bottom-sheet">
  <div class="modal-content">

    <span>
      <h4 id="modalHeading">{{ this.currentDonorName }}</h4>
      <span id="savedPinsContainer">
        <i class="material-symbols-outlined center">bookmarks</i>
        Save Pin
      </span>
    </span>

    <div id="flexContainer">
      <!-- Donation Schedule -->
      <div *ngIf="this.currentDonorDonations === null || this.currentDonorDonations?.length === 0; else loadCarousel">
        <table>
          <thead>
            <tr><td style="text-align: center;">No upcoming donations</td></tr>
          </thead>
        </table>
      </div>

      <ng-template #loadCarousel>
        <div class="carousel carousel-slider">
          <div (click)="this.carouselPrev($event)" class="carousel-left-chevron">
            <i class="material-symbols-outlined">chevron_left</i>
          </div>
          <div (click)="this.carouselNext($event)" class="carousel-right-chevron">
            <i class="material-symbols-outlined">chevron_right</i>
          </div>
          <app-card *ngFor="let donation of this.currentDonorDonations"
          [forCarousel]="true"
          [date]="this.dateUtil.numericToTextDate(this.dateUtil.epochDateToReadable(donation.donationdate))"
          [startTime]="donation.starttime"
          [endTime]="donation.endtime"
          [description]="donation.description"
          [isCurrent]="this.donationService.isCurrentDonationByDonation(donation)"
          ></app-card>
        </div>
      </ng-template>

      <!-- WhatsApp and Maps Directions -->
      <div id="actionButtonsContainer">
        <p>Need directions?</p>

        <a [href]="this.googleMapsDirectionsLink" target="_blank"><button class="btn">Google Maps</button></a>
        <p>Arrived? Notify the Donor</p>
        <a aria-label="Chat on WhatsApp" [attr.href]=" 'https://wa.me/' + this.phoneNumberUtil.toInternationalCode(this.currentDonorPhoneNum) + '?text=' + myEncodeURIComponent(this.prefilledText)" target="_blank">
          <img alt="Chat on WhatsApp" src="../../../assets/images/WhatsAppButtonGreenLarge.svg"/>
        </a>
      </div>

    </div>
  </div>
</div>
