:root {
  --primary: '#6369D1'; /* Violet Blue Crayola */
  --secondary: '#C6C6C6'; /* Silver */

  --warning: '#FDB849'; /* Maximum Yellow Red */
  --danger: #F21B3F; /* Red Munsell */
  --success: '#60B67A'; /* Medium Sea Green */

  --dark: '#36363E'; /* Jet */
  --light: '#FBF5F3'; /* Snow */
}

.outer {
  display: flex;
  flex-direction: row;
}

.container {
  display: inline;
  height: 96%;
  /* left: 350px; */
  left: 25%;

  margin: 0%;
  padding: 0%;
  padding-top: 2%;
}

app-sidenav {
  width: fit-content;
  display: inline;
}
